.nav {
    margin: 1rem 0 0 2rem;
}

.main-container {
    display: flex;
}

.cpanel-form {
    background-color: white;
    padding: 2rem;
    margin: 4.75rem 2rem 1rem 2rem;
    display: inline-block;
    flex-shrink: 1;
    width: 570px;
    border-radius: 10px;
}

.cpanel-form small {
    font-size: 0.85rem;
}

.main-title-form {
    display: block;
    margin-bottom: 2rem;
}

.btn-primary,
.btn-success,
.btn-danger {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.form-control {
    border: 1px solid darkgray;
}

.form-control, 
.btn {
    max-width: 500px;
}

.error,
.success {
    font-weight: bolder;
    width: 25%;
    min-width: 450px;
    margin-left: 2rem;
    font-size: 1.1rem;
}

.form-success {
    margin-left: 0;
}

textarea {
    resize: none;
}


@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
    }

    .cpanel-form {
        display: block;
        min-width: 200px;
        width: 100%;
        margin: 2.75rem auto 1rem auto;
        border-radius: 0;
    }

    .main-title-form {
        text-align: center;
    }

    .form-control, .btn {
        max-width: 100%;
    }

    .error,
    .success {
        margin: 0 0 1rem 0;
        min-width: 200px;
        width: 100%;
        text-align: center;
    }
}