@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Urbanist:wght@500&display=swap');


body, html {
    width: 100%;
}

body {
    background-color: wheat;
    font-family: Inter, Arial, Helvetica, sans-serif;
}