.main-header {
    background-color: white;
    font-family: urbanist, sans-serif;
    padding: 1rem 2rem;
    min-width: 200px;
}

.main-header a,
.login-link {
    text-decoration: none;
    color: black;
}

.signup-form {
    background-color: white;
    padding: 2rem;
    margin: 4.75rem 0 1rem 2rem;
    display: inline-block;
    min-width: 450px;
    border-radius: 10px;
}

.main-title {
    display: block;
    margin-bottom: 2rem;
}

.login-link {
    font-weight: bold;
    display: block;
}

.login-link:hover {
    color: green;
}

.btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid darkgray;
}

.form-control, 
.btn {
    max-width: 500px;
}

.username-label,
.password-label,
.repass-label,
.email-label {
    display: block;
    margin-bottom: 5px;
}

.checkbox-label {
    display: inline-block;
}

.error,
.success {
    font-weight: bolder;
    width: 25%;
    min-width: 450px;
    margin-left: 2rem;
    font-size: 1.1rem;
}

.text-dark {
    text-decoration: none;
}


/* responsive */

@media (max-width: 600px) {
    .signup-form {
        display: block;
        min-width: 200px;
        width: 100%;
        margin: 2.75rem auto 1rem auto;
        border-radius: 0;
    }

    .form-control, .btn {
        max-width: 100%;
    }

    .main-header {
        text-align: center;
    }

    .error,
    .success {
        margin: 0 0 1rem 0;
        min-width: 200px;
        width: 100%;
        text-align: center;
    }
}