@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    background-color: lightgoldenrodyellow;
    width: 90%;
    margin: 0 auto;
}


.main-header-user a,
.main-header-guest a {
    text-decoration: none;
    font-weight: bold;
}


.main-header-user .main-title,
.main-header-guest .main-title {
    font-family: urbanist, sans-serif;
    padding: 2rem 0 1rem 0;
    font-size: 2.5rem;
}


.main-header-user .main-title a,
.main-header-guest .main-title a {
    color: black;
}

.main-header-user .link-container,
.main-header-guest .link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.3rem 0 1.5rem 0;
    font-size: 1.15rem;
}

.header-link {
    color: black;
    font-weight: 500 !important;
}

.logged-in {
    text-align: right;
    font-size: 1.15rem;
}


@media (min-width: 300px) {
    
}