@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.main-container {
    width: 80%;
    margin: 4.75rem auto 1rem auto;
}

.table {
    font-size: 1.1rem;
}

.title {
    background-color: green !important;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.main-nav {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.main-nav a {
    text-decoration: none;
    color: black;
}

.main-nav a:hover {
    color: green;
    font-weight: bold;
}

.thread-title p {
    margin-bottom: 2rem;
    background-color: white;
    padding: 8px 8px;
    border-radius: 10px;
    display: inline-block;
}

.thread-title a {
    text-decoration: none;
    color: black;
}

.thread-title a:hover {
    color: green;
    font-weight: bold;
}

.post-row {
    font-size: 1rem;
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.post-header {
    flex-grow: 0.25;
}

.post-body {
    flex-grow: 10;
    padding: 2rem 1.5rem 0.5rem 1.5rem !important;
}

.quote {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
}

.quote blockquote {
    margin-top: 8px;
}

.bi {
    padding-right: 5px;
}

.button-row td {
    padding-left: 0;
}

.button {
    margin-right: 5px;
}

.post-link {
    margin-top: 4rem;
}

.pagination {
    margin: 1rem 0.5rem 0.5rem 0;
    display: inline-block;
}

.page-container {
    display: flex;
    justify-content: flex-start;
}

.page-number {
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.written-by {
    margin: 0.5rem 0;
}

.written-by a {
    text-decoration: none;
}

.user-red {
    color: crimson;
}

.user-green {
    color: green;
}

.user-black {
    color: black;
}

.user-red:hover {
    color: darkred;
}

.user-green:hover {
    color: darkgreen;
}

.user-black:hover {
    color: darkslategray;
}

.empty, 
.locked {
    background-color: white;
    padding: 0.5rem;
    font-weight: bolder;
    width: max-content;
    border-radius: 10px;
}

.locked {
    margin: 2rem 0;
}


/* added with JS */

.written-by .banned {
    text-decoration: line-through;
}

/**/


/* responsive */

@media (max-width: 800px) {

    .main-container {
        width: 100%;
    }

    .main-nav {
        text-align: center;
    }

    .thread-title {
        text-align: center;
    }

    .thread-title p {
        display: block;
    }

    .table {
        text-align: center;
    }

    .post-row {
        flex-direction: column;
    }

    .post-body {
        padding-top: 1rem !important;
    }

    .post-link {
        text-align: center;
    }

    .title,
    .post-row {
        border-radius: 0;
    }

    .post-header {
        border-right: 0;
    }

    .pagination {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .page-container {
        justify-content: center;
    }

    .empty,
    .locked {
        text-align: center;
    }

    .empty {
        width: 100%;
    }

    .locked {
        margin: 2rem auto;
    }

}
